<!DOCTYPE html>
<html>
<head>
  <title>MyIssueList</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<header>
  <ul>
    <li><a href="/issue/new">課題登録</a></li>
    <li><a href="/issue/index">課題一覧</a></li>
    <li><a href="/">トップ</a></li>
  </ul>
</header>
<%= yield %>
</body>
</html>
